
#header{
    width: 100%;
    height: 70px;
    background-color: white;
    display: none;
}

.head-main-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.he-1{
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
}

.he-1 a{
    font-size: 30px;
}

.he-2{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.he-2 i{
    /* padding: 10px; */
    font-size: 30px;
}

header{
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.head-main{
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.head-1{
    width: 45%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
}

.logo{
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
}

.nav{
    width: 70%;
    height: 100%;
    /* border: 1px solid yellow; */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul li{
    list-style: none;
}

.nav ul li img{
    display: none;
}

.nav ul li i{
    display: none;
}

.nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding-block: 15px;
}

.nav ul li a:hover{
    color: black;
    border-bottom: 3px solid yellow;
}

.logo img{
    width: 100%;
    height: 100%;
}

.head-2{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid green; */
}

.off-1{
  padding: 15px;
  height: 100px;
}

.off-1 h5{
  opacity: 50%;
}

.off-2{
  height: 250px;
  padding: 15px;
}

.off-2-1{
  width: 100%;
  height: 20%;
  margin-top: 10px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.off-2-1 img{
  width: 15%;
  height: 100%;
}

.off-3{
  width: 100%;
  height: 450px;
  background-color: #F3F3F3;
  padding: 15px;
}

.off-3 ul li{
  list-style: none;
}

.off-3 ul li h5{
  font-size: 20px;
  opacity: 0.6;
}

.off-4{
  width: 100%;
  height: 40px;
  padding: 15px;
  /* border: 1px solid black; */
}

.search{
    width: 60%;
    height: 70%;
    /* border: 1px solid black; */
    position: relative;
}

.search input{
    width: 100%;
    height: 100%;
    font-size: 13px;
    border-radius: 8px;
    padding-left: 25px;
    background-color: #EAEAEA;
    border: none;
    outline: none;
}

.search i {
    position: absolute;
    top: 14px;
    left: 7px;
}

.i-1{
    width: 20%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.i-1 i{
    font-size: 20px;
}

#slid-1{
    width: 100%;
    height: 600px;
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
}

#slid-2{
    width: 100%;
    height: 600px;
    /* border: 1px solid blue; */
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1
}

.slid-1{
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff; 
  }

.slice-1{
    width: 70%;
    height: 200%;
    padding: 50px;
    background-color: white;
    display: flex;
    overflow-y: scroll;
}

.sli-1{
    width: 60%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
}

.s-1{
    padding-top: 10px;
    width: 33%;
    height: 100%;
    /* border: 1px solid pink; */
}

.s-1 ul li{
    list-style: none;
}

.s-1 ul li a{
    text-decoration: none;
    color: black;
    opacity: 0.8;
}

.s-1 ul li a:hover{
    opacity: 1.0    ;
}

.sli-2{
    width: 40%;
    height: 170%;
    /* border: 1px solid green; */
    padding-left: 20px;
    padding-top: 20px;
}

.sli-2 h6{
    opacity: 0.8;
    font-size: 18px;
}

.s-2{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.s-2 p{
    margin-left: 10px;
}

.s-img{
    width: 50px;
    height: 50px;
}

.s-img img{
    width: 100%;
    height: 100%;
}

#slid-3{
    width: 100%;
    height: 600px;
    /* border: 1px solid blue; */
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1
}

.slid-3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slice-2{
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    /* border: 1px solid black; */
}

.sli-4{
    width: 70%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
}

.sli-3{
    /* padding-top: 40px;    */
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
    padding: 40px 10px;
}

.sli-3 ul{
    float: left;
}

.sli-3 ul li{
    list-style: none;
}

.sli-3 ul li a{
    text-decoration: none;
    color: black;
}

.sli-3 img{
    float: right;
    width: 100px;
    height: 150px;
}

.sli-2-1{
    width: 33%;
    height: 100%;
    padding: 20px;
    /* border: 1px solid red; */
}

.sli-2-1 h5{
    font-size: 19px;
    opacity: 0.8;
}

.sli-2-1 ul li{
    list-style: none;
}

.sli-2-1 ul li a{
    text-decoration: none;
    color: black;
    opacity: 0.8;
}

.sli-2-1 ul li a:hover{
    /* color: ; */
    opacity: 1.0;
}

#info{
    height: 100px;
}

#info ul{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#info ul li{
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

#slider-1{
        width: 100%;
        height: 70vh;
        /* background-color: black; */
}
.carousel {
    /* background: #EEE; */
  }
  
  .carousel-cell {
    width: 35%;
    /* height: 70vh; */
    margin-right: 10px;
    /* background: #8C8; */
    border-radius: 5px;
    /* counter-increment: carousel-cell; */
  }

  .carousel-cell img{
    width: 100%;
    height: 100%;
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(carousel-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  #slider-2{
    margin-top: 50px;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
  }

  .slider-2{
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
  }
  
  .carousel {
    /* background: #FAFAFA; */
  }
  
  .carousel-cell-1 {
    padding-top: 20px;
    width: 15%;
    height: 250px;
    /* margin-right: 5px; */
    text-align: center;
    border-radius: 5px;
    /* background-color: red; */
    /* counter-increment: carousel-cell; */
  }

  .carousel-cell-1 img{
    width: 70%;
    height: 70%;
  }
  
  /* cell number */
  .carousel-cell-1:before {
    display: block;
    text-align: center;
    /* content: counter(carousel-cell); */
    line-height: 200px;
    /* font-size: 80px; */
    color: white;
  }

  #all{
    height: 200px;
  }

  #design{
    height: 400px;
  }

  .de-1,.de-2{
    width: 50%;
    height: 100%;
  }

  #cate{
    height: 350px;
  }

  #slider-3{
    height: 400px;
  }

  .carousel {
    /* background: #FAFAFA; */
  }
  
  .carousel-cell-3 {
    width: 29%;
    height: 400px;
    margin-right: 10px;
    /* background: #8C8; */
    border-radius: 5px;
    /* counter-increment: carousel-cell; */
  }
  
  /* cell number */
  .carousel-cell-3:before {
    display: block;
    /* text-align: center; */
    /* content: counter(carousel-cell); */
    line-height: 200px;
    /* font-size: 80px; */
    color: white;
  }
  
  #jack{
    height: 450px;
  }

  #slu{
    height: 450px;
  }

  #what{
    height: 175px;
  }

  #bag{
    height: 350px;
  }

  #slider-4{
    height: 500px;
  }
  .carousel {
    /* background: #FAFAFA; */
  }
  
  .carousel-cell-4 {
    width: 35%;
    height: 500px;
    margin-right: 10px;
    /* background: #8C8; */
    border-radius: 10px;
    /* counter-increment: carousel-cell; */
  }

  .carousel-cell-4 img{
    border-radius: 5px;
  }
  
  /* cell number */
  .carousel-cell-4:before {
    display: block;
    /* text-align: center; */
    /* content: counter(carousel-cell); */
    /* line-height: 200px; */
    font-size: 80px;
    color: white;
  }

  #acc{
    height: 450px;
  }

  #slider-5{
    height: 500px;
    background-image: url(../img/img/bg-web-mc-land-page.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .carousel-cell-5 {
    width: 19%;
    height: 400px;
    margin-right: 10px;
    border-radius: 5px;
    /* border: 1px solid black; */
  }
  
  .car-img{
    width: 100%;
    height: 80%;
    position: relative;
  }

  .car-img img{
    width: 100%;
    height: 100%;
  }

  .car-img p{
    font-size: 10px;
    padding: 5px 7px;
    background-color: #6F6F6F;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    /* font-weight: bold; */
  }

  .car-img span{
    font-size: 10px;
    padding: 5px 7px;
    background-color: #07BA57;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }

  .car-t{
    width: 100%;
    height: 25%;
    background-color: white;
    /* border: 1px solid pink; */
    padding: 5px;
    position: relative;
  }

  .car-t i{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    opacity: 0.7;
  }

  .car-t .p1 span{
    font-size: 12px;
  }

  .p2{
    margin-top: -14px;
  }

  .p2 span{
    color: #07BA57;
  }

  .carousel-cell.is-selected {
    /* background: #ED2; */
  }
  
  /* cell number */
  .carousel-cell-5:before {
    display: block;
    font-size: 80px;
    color: white;
  }
  
  #save{
    height: 500px;
  }

  #become{
    height: 150px;
  }

  footer{
    margin-top: 10px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  .fot-main{
    height: 95%;
    display: flex;
    border-bottom: 1px solid white;
  }

  .fot-1,.fot-2{
   flex-basis: 25%;
   height: 100%;
   /* border: 1px solid white; */
  }

  .fot-1 h5{
    color: #FDD835;
    font-size: 30px;
  }

  .fot-1 ul li{
    list-style: none;
  }

  .fot-1 ul li h6{
    color: #FDD835;
  }

  .fot-1 ul li p{
    color: white;
  }

  .fot-2{
    padding-top: 50px;
  }

  .fot-2 ul li{
    list-style: none;
  }

  .fot-2 ul li h6{
    color: #FDD835;
  }

  .fot-2 ul li p{
    color: white;
  }

  .fot-2 input{
    height: 45px;
    padding: 10px;
    background-color:rgb(38, 37, 37) ;
    border: none;
    outline: none;
    border-bottom: 1px solid #FDD835;
  }

  .fot-2 button{
    width: 100px;
    height: 45px;
    background-color: #FDD835;
  }

  #foot{
    height: 500vh;    
    background-color: black;
  }

  @media(max-width:992px){
    #info ul li{
        font-size: 15px;
    }

    #slider-1{
        width: auto;
        height: auto;
    }

    #slider-2{
        margin: 0;
        width: auto;
        height: auto;
    }

    .slider-2{
        width: 90%;
        height: auto;
    }

    .carousel-cell-1{
        width: 20%;
        height: auto;
    }

    #all{
        width: auto;
        height: auto;
    }

    #design{
        height: auto;
    }

    #cate{
        height: auto;
    }

    #slider-3{
        height: auto;
    }

    .carousel-cell-3{
        height: auto;
    }

    #jack{
        height: auto;
    }

    #slu{
        height: auto;
    }

    #what{
        height: auto;
    }

    #bag{
        height: auto;
    }

    #slider-4{
        width: auto;
        height: auto;
    }

    .carousel-cell-4{
        height: auto;
    }

    #acc{
        height: auto;
    }

    .acc-main{
        height: auto;
    }

    #slider-5{
        height: auto;
    }

    .carousel-cell-5{
        height: auto;
    }

    #save{
        height: auto;
    }

    #become{
        height: auto;
    }

    footer{
        height: auto;
    }

    .fot-main{
        padding: 20px;
        height: auto;
        flex-wrap: wrap;
    }

    .fot-1,.fot-2{
        flex-basis: 50%;
    }

    #foot{
        height: auto;
    }

    .foot{
        height: auto;
    }

}

@media(max-width:768px){

    #header{
        display: block;
    }

    header{
        display: none;
    }

    #info ul li{
        font-size: 13px;
    }

    .carousel-cell-1{
        width: 23%;
        height: auto;
    }

    .carousel-cell-5{
        width: 30%;
        height: auto;
    }

}

@media(max-width:576px){
    #info ul li{
        font-size: 10px;
    }
    
    .carousel-cell-1{
        width: 25%;
        height: auto;
    }
    
    .fot-1,.fot-2{
        flex-basis: 70%;
    }
}